torch>=2.7.0
transformers>=4.51.3
sentence-transformers>=4.1.0
opencv-python>=4.8.0
pdf2image>=1.16.0
pytesseract>=0.3.10
ezdxf>=1.1.0
trimesh>=4.0.0
matplotlib>=3.7.0
fastapi>=0.115.12
sudachipy>=0.6.10
pyinstaller>=5.13.0
scikit-learn>=1.6.1
